extends ../layout

block mainContent
    #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
        .kt-portlet.kt-portlet--mobile
            .kt-portlet__head.kt-portlet__head--lg
                .kt-portlet__head-label
                    span.kt-portlet__head-icon
                        i.fa.fa-city.margin-auto
                    h3.kt-portlet__head-title
                        | Dashboard

            .kt-portlet__body
                .kt-form.kt-form--label-right.kt-margin-t-0.kt-margin-b-0
                    .form-group.row(style='margin-bottom: 0 !important')
                        label.col-form-label.col-lg-4.col-sm-12 BitMEX Account
                        .col-lg-4.col-md-4.col-sm-12
                            select#kt_select2_account.form-control.kt-select2(name='param')
                                option
                                for account in bitmexAccounts
                                    option(value=account.id) #{account.email}

            .kt-portlet__body.kt-portlet__body--fit
                //#auto_column_hide.kt-datatable
                table.mdl-data-table(id='positions')
                    thead
                        tr
                            //th
                            th Symbol
                            th Size
                            th Value
                            th Entry Price
                            th Mark Price
                            th Liq Price
                            th Margin
                            th Unrealised PNL
                            //th Unrealised PNL(ROE %)
                            th Realised PNL
                    tfoot
                        tr
                            //th
                            th Symbol
                            th Size
                            th Value
                            th Entry Price
                            th Mark Price
                            th Liq Price
                            th Margin
                            th Unrealised PNL
                            //th Unrealised PNL(ROE %)
                            th Realised PNL
                table.mdl-data-table(id='active_orders')
                    thead
                        tr
                            th
                            th Symbol
                            th Qty
                            th Order Price
                            th Filled
                            th Remaining
                            th Order Value
                            th Fill Price
                            th Type
                            th Status
                            th Time
                            th
                    tfoot
                        tr
                            th
                            th Symbol
                            th Qty
                            th Order Price
                            th Filled
                            th Remaining
                            th Order Value
                            th Fill Price
                            th Type
                            th Status
                            th Time
                            th
                table.mdl-data-table(id='stop_orders')
                    thead
                        tr
                            th
                            th Symbol
                            th Qty
                            th Order Price
                            th Filled
                            th Stop Price
                            th Triggering Price
                            th Fill Price
                            th Type
                            th Status
                            th Time
                            th
                    tfoot
                        tr
                            th
                            th Symbol
                            th Qty
                            th Order Price
                            th Filled
                            th Stop Price
                            th Triggering Price
                            th Fill Price
                            th Type
                            th Status
                            th Time
                            th
                //table.display(id='balance')
                //    thead
                //        tr
                //            th Name
                //            th Position
                //            th Office
                //            th Age
                //            th Salary
                //    tfoot
                //        tr
                //            th Name
                //            th Position
                //            th Office
                //            th Age
                //            th Salary

