extends ./layout

block mainContent
    #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
        .kt-portlet.kt-portlet--mobile
            .kt-portlet__head.kt-portlet__head--lg
                .kt-portlet__head-label
                    span.kt-portlet__head-icon
                        i.fa.fa-city.margin-auto
                    h3.kt-portlet__head-title
                        | Dashboard

            .kt-portlet__body
                .kt-form.kt-form--label-right.kt-margin-t-0.kt-margin-b-0
                    .form-group.row(style='margin-bottom: 0 !important')
                        label.col-form-label.col-lg-4.col-sm-12 BitMEX Account
                        .col-lg-4.col-md-4.col-sm-12
                            select#kt_select2_account.form-control.kt-select2(name='param')
                                option
                                for account in bitmexAccounts
                                    option(value=account.id) #{account.email}

            .kt-portlet__body.kt-portlet__body--fit
                //#auto_column_hide.kt-datatable
                table.display(id='position' class="mdl-data-table")
                    thead
                        tr
                            //th
                            th Symbol
                            th Size
                            th Value
                            th Entry Price
                            th Mark Price
                            th Liq Price
                            th Margin
                            th Unrealised PNL
                            //th Unrealised PNL(ROE %)
                            th Realised PNL
                    tfoot
                        tr
                            //th
                            th Symbol
                            th Size
                            th Value
                            th Entry Price
                            th Mark Price
                            th Liq Price
                            th Margin
                            th Unrealised PNL
                            //th Unrealised PNL(ROE %)
                            th Realised PNL
                table.display(id='balance')
                    thead
                        tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Salary
                    //tbody
                    //    tr
                    //        td Jena Gaines
                    //        td Office Manager
                    //        td London
                    //        td 30
                    //        td $90,560
                    //    tr
                    //        td Haley Kennedy
                    //        td Senior Marketing Designer
                    //        td London
                    //        td 43
                    //        td $313,500
                    //    tr
                    //        td Tatyana Fitzpatrick
                    //        td Regional Director
                    //        td London
                    //        td 19
                    //        td $385,750
                    //    tr
                    //        td Michael Silva
                    //        td Marketing Designer
                    //        td London
                    //        td 66
                    //        td $198,500
                    //    tr
                    //        td Bradley Greer
                    //        td Software Engineer
                    //        td London
                    //        td 41
                    //        td $132,000
                    //    tr
                    //        td Angelica Ramos
                    //        td Chief Executive Officer (CEO)
                    //        td London
                    //        td 47
                    //        td $1,200,000
                    //    tr
                    //        td Suki Burks
                    //        td Developer
                    //        td London
                    //        td 53
                    //        td $114,500
                    //    tr
                    //        td Prescott Bartlett
                    //        td Technical Author
                    //        td London
                    //        td 27
                    //        td $145,000
                    //    tr
                    //        td Timothy Mooney
                    //        td Office Manager
                    //        td London
                    //        td 37
                    //        td $136,200
                    //    tr
                    //        td Bruno Nash
                    //        td Software Engineer
                    //        td London
                    //        td 38
                    //        td $163,500
                    //    tr
                    //        td Hermione Butler
                    //        td Regional Director
                    //        td London
                    //        td 47
                    //        td $356,250
                    //    tr
                    //        td Lael Greer
                    //        td Systems Administrator
                    //        td London
                    //        td 21
                    //        td $103,500
                    tfoot
                        tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Salary

