div.dataTables_wrapper {
    margin-bottom: 3em;
}

.kt-portlet__body.kt-portlet__body--fit {
    padding: 0 1rem 1rem 1rem !important;
}

#position td {
    cursor: pointer;
}

thead, th {
    text-align: center !important;
}
